.btn {
  margin-top: 10px;
}

.btn-primary {
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 20px;
}

.btn:hover {
  transform: scale(1.08)
}
