 
  .toggle-language {
    background: transparent;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: black;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    transition: .2s ease;
    font-weight: 600;
  }
  
  .toggle-language:hover {
    transform: scale(1.08);
  }

  body.dark-mode .toggle-language{
    border: 2px solid var(--main-color);
    color: var(--main-color);
  }
  