.toggle-theme {
    border: none;
    cursor: pointer;
  }

  .toggle-dark {
    background: #202940;
    border: 1px solid #b97640;
  }

  .toggle-light {
    background: #b97640;
    border: 1px solid #202940;
  }
  
  .toggle-theme img {
    width: 30px;
    height: 30px;
  }
  
  /* Light Mode */
  body {
    background-color: #DADADA;
    color: #273341;
  }
  
  /* Dark Mode */
  body.dark-mode {
    background-color: #273341;
    color: #DADADA;
  }
  